# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd
*.dll

# C extensions
*.so

# Distribution / packaging
.eggs/
dist/
build/
develop-eggs/
.installed.cfg
*.egg-info/
.eggs/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# IDE files
.idea/
*.iml
*.suo
*.DS_Store

.env